.header-top {
  background-color: #78244c;
}

body {
  padding-top: 70px;
}

.btn-wine {
  color: #fff;
  background-color: #78244c;
  border-color: #78244c;
}

.btn-wine:hover {
  background-color: rgba(120, 36, 77, 0.342);
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-color: rgba(120, 36, 77, 0.342);
}

.img-holder {
  position: relative;
}

.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

/* image preview */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.matches-photo {
  height: 7rem;
  width: 7rem;
}

.close {
  cursor: pointer;
}

.card-img-top {
  height: 7rem;
}

.fa-check {
  cursor: pointer;
}

.fa-times {
  cursor: pointer;
}

/* .deletereceived{
  width:83%;
} */

.chatbox {
  position: fixed;
  right: 0px;
  bottom: 0;
  height: 60%;
  width: 15%;
  background-color: rgb(211, 211, 211);
  overflow: auto;
}

.chatwindow {
  position: fixed;
  right: 16.3%;
  height: 50%;
  background-color: #e8e7e7;
  bottom: 10px;
  width: 15%;
  border: 1px solid gray;
  border-radius: 10px;
}

.msgarea {
  overflow-y: auto;
  overflow-x: hidden;
}

.chatwindow p {
  font-size: small;
  font-weight: 400;
}

.chatpic {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background-size: cover;
}

.msgarea {
  height: 82%
}
#close{
  cursor: pointer;
}
#msgdata{
  position:relative;bottom:0px
}
#message{
  padding-bottom: 2%;
  padding-left: 2%;
  border-bottom-left-radius: 10px;
}
.unmatch,.messageuser{
  cursor: pointer;
}
.fa-window-minimize{
  cursor: pointer;
  position: relative;
  top: -5px;
  right: -75px;
  font-size: smaller;

}
.chatheading{
  cursor: pointer;
}