.header-top {
    background-color: #78244C;
}

body {
    min-height: 2000px;
    padding-top: 70px;
}

hr.main {
    border: 2px solid#78244C;
    border-radius: 5px;
}

.btn-wine {
    color: #fff;
    background-color: #78244C;
    border-color: #78244C;
}

.avatar{
    height: 28rem;
}
.image{
    height: 18rem;
}