body {
  overflow-x: hidden;
}

h4 {
  font-size: 15px;
}

footer {
  background-color: #202020;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #8e8e8e;
  font-size: 13px;
}

a:hover {
  text-decoration: none;
  color: #d79922;
  font-size: 13px;
}

.social-media a {
  text-decoration: none;
  color: white;
}

.navbar {
  max-height: 100px;
}

.logo {
  height: 90px;
  width: 100px;
}

.banner {
  background: url("/img/Lovevivah-banner.jpg") no-repeat center;
  min-height: 620px;
  background-size: cover;
}

.btn-wine {
  color: #fff;
  background-color: #78244c;
  border-color: #78244c;
}

.btn-wine:hover {
  background-color: #d79922;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-color: #d79922;
}

.btn-infor {
  color: #fff;
  background-color: #d79922;
  border-color: #d79922;
}

.btn-infor:hover {
  background-color: #78244c;
  border-color: #78244c;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.bg-wine {
  color: #fff;
  background-color: #78244c;
}

.card-img-top {
  height: 280px;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.modal-open {
  overflow: auto;
}

#myModal {
  top: -100px;
}
#register{
  top:-20px;
}
