body {
  min-height: 100vh!important;
  background-image: linear-gradient(rgb(236, 215, 174), rgb(249, 250, 236));
}

h4 {
  font-size: 15px;
}

.settingspanel {
  height: 60vh;
}

footer {
  position: relative;
  bottom: 0;
  background-color: #202020;
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #8e8e8e;
}

/* a:hover{
   text-decoration: none;
   color: #D79922;
   font-size: 15px;
 } */

.bg-wine {
  background-color: #78244C;
}

.banner {
  background: url("/img/Lovevivah-banner.jpg") no-repeat center;
  min-height: 620px;
  background-size: cover;
}

.btn-wine {
  color: #fff;
  background-color: #78244C;
  border-color: #78244C;
}

.btn-infor {
  color: #fff;
  background-color: #D79922;
  border-color: #D79922;
}

.bg-wine {
  color: #fff;
  background-color: #78244C;
}

#age1 {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  outline: none;
  background: transparent;
  cursor: default;


}