<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/matches.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
        <div class="container">
            <a class="navbar-brand text-white" href="#"><img src= "img/jodi.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto text-white">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="home">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="home">My Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="search">Search</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="setting">Settings</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>
    {{{body}}}
    <link rel="stylesheet" href="css/root_style.css">
    <footer class="pt-4 mt-2 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <h4>Company</h4>
                    <ul>
                        <li><i class="fa fa-check"></i><a href="#">About Us</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Success Stories</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Media & PR</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4>Help & Support</h4>
                    <ul>
                        <li><i class="fa fa-check"></i><a href="#">Live Support</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Online Help - FAQ</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Contanct Us</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Site Map</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h4>Policies</h4>
                    <ul>
                        <li><i class="fa fa-check"></i><a href="#">Privacy Policies</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Terms Of Use</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Disclaimer</a></li>
                        <li><i class="fa fa-check"></i><a href="#">Payment Policy</a></li>
                    </ul>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <h4>Follow Us</h4>
                    <ul>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-facebook fa-2x"></i></a></li>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-linkedin fa-2x"></i></a></li>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-pinterest fa-2x"></i></li>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-google-plus fa-2x"></i></a></li>
                    </ul>
                    <h4>App Available On</h4>
                    <ul>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-android fa-2x"></a></i></li>
                        <li class="d-inline mr-3 social-media"><a href="#" target="_blank"><i
                                    class="fa fa-apple fa-2x"></a></i></li>
                    </ul>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </footer>
</body>

{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../js/matches.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

</html>