<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3000/css/forgotpassword.css">
    <title>Reset Password</title>
</head>

<body class="bg-light">
    <section>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
            <div class="container">
                <a class="navbar-brand text-white" href="#">Jodi Maker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto text-white">
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="">Contact Us</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="container">
            <div class="col-md-5 mx-auto my-3">
                {{!-- logo --}}
                <div class="row mt-4">
                    <div class="col-md-12 text-center my-4">
                        <a href="#"><img class="logo" src="http://localhost:3000/img/jodi1.png" alt="logo"></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mt-3">Confirm Password</h4>
                        <hr>
                        <div class="recoverPassword">
                            <form class="needs-validation" method="POST" action="/setnewpassword" novalidate
                                enctype="application/x-www-form-urlencoded"
                                oninput='cfpassword.setCustomValidity(cfpassword.value != password.value ? "Passwords do not match." : "")'>
                                <input type="hidden" name="id" value="{{user}}">
                                <div class="form-row my-1">
                                    <label for="password">
                                        Password</label>
                                    <input type="password" name="password"
                                        pattern="(?=^.{6,20}$)(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$" class="form-control"
                                        id="password" placeholder="Password" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        At least 6 characters including a number an alphabet.
                                    </div>
                                </div>
                                <div class="form-row my-1">
                                    <label for="cfpassword">
                                        Confirm Password</label>
                                    <input type="password" name="cfpassword" class="form-control" id="cfpassword"
                                        placeholder="Confirm Password" required>
                                    <div class="valid-feedback">
                                        Passwords match!!
                                    </div>
                                    <div class="invalid-feedback">
                                        Passwords don't match!!
                                    </div>
                                </div>
                                <div class="form-row my-2">
                                    <button type="submit" class="btn btn-outline-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="http://localhost:3000/js/root.js"></script>

</html>